@import "navbar";

@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Epilogue", sans-serif;
}

body {
  background-color: hsl(0, 0%, 98%);
}

.overlay {
  background: rgba(36, 20, 38, 0.5);
  height: "100%";
  width: "100%";
}
