.navbar {
  display: flex;
  align-items: center;
  padding: 30px 5%;

  &__brand-title {
    cursor: pointer;
    font-weight: 700;
    font-size: 2rem;
    margin-right: 2rem;
  }

  &__menu {
    display: flex;
    width: 100%;

    @media (width < 50em) {
      flex-direction: column;
    }

    @media (width < 50em) {
      background: blue;
      position: fixed;
      inset: 0;
      translate: 100vw 0;
      transition: translate 0.5s ease-in-out;
    }
  }

  &__links {
    list-style: none;
    align-self: center;
    display: flex;
    gap: 1rem;

    @media (width < 50em) {
      flex-direction: column;
    }
  }

  &__item {
    display: inline-block;
    padding: 0px 20px;
  }

  &__link {
    color: hsl(0, 0%, 41%);
    transition: all 0.3s ease 0s;
    text-decoration: none;
  }

  &__link:hover {
    color: hsl(0, 0%, 8%);
  }

  &__auth {
    display: flex;
    text-align: center;
    align-items: center;

    button {
      color: hsl(0, 0%, 41%);
      transition: all 0.3s ease 0s;
    }

    button:hover {
      color: hsl(0, 0%, 8%);
    }

    a:nth-child(2) {
      border: 1px solid black;
      padding: 9px 25px;
      border-radius: 13px;
    }

    @media (min-width: 50em) {
      margin-left: auto;
      grid-template-columns: repeat(2, 1fr);
    }

    @media (width < 50em) {
      flex-direction: column;
      a:nth-child(2) {
        width: 100%;
      }
    }
  }

  button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
  }

  &__open {
    position: absolute;
    right: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    display: none;

    @media (width < 50em) {
      display: flex;
    }
  }

  &__open[aria-expanded="true"] {
    + .navbar__menu {
      translate: 0;
    }
  }

  &__close {
    margin-inline-start: auto;
    margin-block-end: 8rem;
    display: none;
    
    img {
      width: 2.5rem;
    }

    @media (width <= 50em) {
      display: flex;
    }
  }
}
