.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 5%;

  @media (width < 50em) {
    flex-direction: column;
    align-items: flex-start;
  }

  &__brand-title {
    cursor: pointer;
    margin-right: 2rem;
  }

  &__menu {
    margin-right: auto;

    @media (width < 50em) {
      margin-left: auto;
      margin-right: 0;
    }
  }

  &__links {
    list-style: none;

    @media (width < 50em) {
      //display: none;
    }
  }

  &__item {
    display: inline-block;
    padding: 0px 20px;

    @media (width < 50em) {
      display: flex;
    }
  }

  &__link {
    color: hsl(0, 0%, 41%);
    transition: all 0.3s ease 0s;
    text-decoration: none;
  }

  &__link:hover {
    color: hsl(0, 0%, 8%);
  }

  &__auth {
    display: grid;
    margin-left: auto;

    align-items: center;
    text-align: center;
    gap: 1px;

    button {
      border: none;
      background: none;
      cursor: pointer;
      color: hsl(0, 0%, 41%);
      transition: all 0.3s ease 0s;
    }

    button:hover {
      color: hsl(0, 0%, 8%);
    }

    a:nth-child(2) {
      border: 1px solid black;
      padding: 9px 25px;
      border-radius: 13px;
    }

    @media (min-width: 50em) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (width < 50em) {
      //display: none;
    }
  }

  &__open {
    position: absolute;
    right: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    display: none;

    @media (width < 50em) {
      display: flex;
    }
  }
}
